<!DOCTYPE html>
<!-- Bootstrap core CSS -->
<link crossorigin="anonymous" href="{{url_for('static', filename='styles/bootstrap.min.css')}}"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='styles/starter-template.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/jquery-3.3.1.slim.min.js.download')}}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js.download')}}"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
